@font-face {
  font-family: "Axis Bold";
  src: url('fonts/Axis Extrabold.woff2') format('woff2'),
  url('fonts/Axis Extrabold.otf') format('otf'),
  url('fonts/Axis Extrabold.woff') format('woff');
  }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Axis Bold', sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  border: 1px solid #ccc;
  background-color: #ffc1db
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.calculatorScreen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #1B040E;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  height: 60px;
  background-color: #d1fff0;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: #d1fff0;
  font-size: 2rem;
  color: #333;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
  font-family: 'Axis Bold'
}

button:hover {
  background-color: #eaeaea;
}

.keyOperator {
  background-color: #fffec1;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #fffec1;
  border-color: #337cac;
  color: #fffec1;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

.calculatorKeys {
  display: grid;
  background-color: #ffc1db;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding: 20px;
}

.keyEqual {
  background-color: #fffec1;
  height: 100%;
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
  
}